4@{
    ViewBag.Title = "Danh mục sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using PagedList.Mvc
@using Shop.Data
@model PagedList.IPagedList<Shop.Model.Menu>
<div id="page-wrapper" style="min-height: 407px;">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header" style="margin: 20px 0 5px;">Danh mục sản phẩm</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="color: blue;">
                    <a href="/admin/danhmucsanpham/add/">
                        <button type="button" class="btn btn-success">Thêm mới</button>
                    </a>
                    @Html.Action("WindowsPopupCayMenu", "DanhMucSanPham")
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
                                    <thead>
                                        <tr role="row">

                                            <th style="text-align: center; width: 70px;">Hình ảnh</th>
                                            <th style="text-align: center;">Tên danh mục</th>
                                            <th style="text-align: center; width: 50px;">Icon danh mục</th>
                                            <th style="width: 100px;">
                                                Menu top
                                                <br />
                                                (hiển thị/ẩn?)
                                            </th>
                                            <th style="width: 150px;">
                                                Sản phẩm Home
                                                <br />
                                                (hiển thị/ẩn?)
                                            </th>
                                            <th style="width: 50px;">Ẩn/hiện?</th>
                                            <th style="width: 50px;">Vị trí</th>
                                            <th style="text-align: center;">Chức năng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            foreach (var tag in Model)
                                            {
                                                <tr class="gradeU odd" role="row">
                                                    <td>
                                                        <img src="@string.Format("/Upload/Files/{0}", tag.Img)" style="width:100px;" />
                                                    </td>
                                                    <td>
                                                        <a href="@Url.RouteUrl("DanhSachSanPham", new { splink = tag.Link })" target="_blank">@tag.NameProduct</a>
                                                        <br />
                                                        <a href="/admin/Submenu1/index/@tag.id_" target="_blank" class="fa fa-folder-open" style="margin-top: 30px;color: #337ab7;font-weight: bold;">Sub menu (@Shop.Web.Areas.Admin.Models.CategoryTreeModel.GetslHientai(tag.id_))</a>

                                                        <a href="/admin/SubMenu1/add/@tag.id_" target="_blank" style="color: #337ab7;font-weight: bold;font-size: 13px;float: right;margin-top: 100px;"><i class="fa fa-plus-square"></i>Thêm sub menu</a>
                                                    </td>
                                                    <td>
                                                        <img src="@string.Format("/Upload/Files/{0}", tag.IconMenu)" style="width:50px;height:50px;" />
                                                    </td>
                                                    <td>
                                                        @if (tag.ShowMenuTop == true)
                                                        {
                                                            <span style="color: green; font-weight: bold;">hiển thị</span>
                                                        }
                                                        else
                                                        {
                                                            <span style="color: red;">ẩn</span>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (tag.ShowMenuHome == true)
                                                        {
                                                            <span style="color: green; font-weight: bold;">hiển thị</span>
                                                        }
                                                        else
                                                        {
                                                            <span style="color: red;">ẩn</span>
                                                        }
                                                    </td>
                                                    @if (tag.ok)
                                                    {
                                                        <td class="center" style="text-align: center;">
                                                            <input type="checkbox" checked="checked" value="@tag.id_" />
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="center" style="text-align: center;">
                                                            <input type="checkbox" value="@tag.id_" />
                                                            <span style="color: red; font-weight: normal; float: right; margin-top: 90px;">ẩn</span>
                                                        </td>

                                                    }
                                                    <td>@tag.SapxepDanhMuc</td>
                                                    <td class="actions">
                                                        <a title="Sửa" href="/admin/danhmucsanpham/edit/@tag.id_" class="btn">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function xoa(f) {
        var r = confirm("Bạn có muốn xóa không?");
        if (r) {
            location.href = "/admin/danhmucsanpham/Delete/" + f;
        }
    }
</script>


<script>
    //update an hien cho danh muc (catagories)
    $("#dataTables-example tr td input").click(function (e) {
        var that = $(this);
        var vlCheck = that.val();
        // alert(vlCheck);
        var url = '/admin/DanhMucSanPham/UpdateOk';
        $.post(url, {
            idsanpham: vlCheck,
            checked: that.is(':checked')

        }, function (data) {
            alert("Cập nhật trạng thái thành công!");
        });
    });
</script>