@{
    ViewBag.Title = "Chi tiết tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.content404 = "index, follow, noodp, noydir";
}
@using System.Text.RegularExpressions
@model Shop.Web.Model.TinTucModel
@{
    ViewBag.Title = string.IsNullOrEmpty(Model.TinTucChiTiet.SEOtitle) ? Model.TinTucChiTiet.Name : Model.TinTucChiTiet.SEOtitle;
    ViewBag.Keyword = @Model.TinTucChiTiet.Note == null ? "✅" + @Model.TinTucChiTiet.Note : Regex.Replace("✅" + @Model.TinTucChiTiet.Note, @"<[^>]*>", String.Empty);
    ViewBag.Description = string.IsNullOrEmpty(Model.TinTucChiTiet.SEODescription) ? Regex.Replace("✅" + Model.TinTucChiTiet.Note, @"<[^>]*>", string.Empty) : Model.TinTucChiTiet.SEODescription;
    ViewBag.image = "https://beautygarden.vn/Upload/Files/" + @Model.TinTucChiTiet.Img;
    ViewBag.canonical = "https://beautygarden.vn/tin-tuc/" + @Model.TinTucChiTiet.Link + ".html";
}
<div class="columns container">
    <!-- Block  Breadcrumb-->
    <ol class="breadcrumb no-hide">
        <li><a href="https://beautygarden.vn/" title="Beautygarden">Trang chủ</a></li>
        <li><a href="@ViewData["duongdan"]" title="@ViewData["ten"]">@ViewData["ten"]</a></li>
        <li class="active"><a href="">@Model.TinTucChiTiet.Name</a></li>
    </ol>
    <!-- Block  Breadcrumb-->
    <div class="row">
        <!-- Main Content -->
        <div class="col-md-9 col-main">
            <h1 class="page-heading">
                <span class="page-heading-title2">@Model.TinTucChiTiet.Name</span>
            </h1>
            <article class="entry-detail">
                <div class="content-text clearfix">
                    <p>@Html.Raw(Model.TinTucChiTiet.Content.Replace("src=\"/", " data-src=\"/"))</p>
                    <p><img src="/images/ngoisao.gif" style="width: 30px; height: 30px; margin-left: -10px;" />Lưu ý: Hiệu quả của sản phẩm nhanh hay chậm còn tùy thuộc vào cơ địa của mỗi người.</p>
                  </div>
            </article>
            <!-- Related Posts -->
            <!--danh sach tag-->
            <div class="tabpanel taglist">
                <span>
                    Tags:
                    <ul class="tags">
                        @if (Model.TagTinTucs.Any())
                        {
                            <!--neu san pham do co tag thi load duoi db len-->
                            foreach (var tag in Model.TagTinTucs)
                            {
                                <li><a href="@Url.RouteUrl("TagTinTuc", new { taglink = tag.Link})" class="tag" target="_blank" title="@tag.TenTag">@tag.TenTag</a></li>
                            }
                        }
                    </ul>
                </span>
            </div>
            <hr />
            <!--danh sach tag-->
            <!--Load bài salepage ra đây-->
            @if (Model.TinTucChiTiet.IdSalePage != 0)
            {
                @Html.Action("SalePageLoadTinTuc","SalePage",new { IdSalePage = Model.TinTucChiTiet.IdSalePage})
            }
            <!--Load bài salepage ra đây-->
            <div class="single-box">
                <h2>Tin khác</h2>
                <ul class="related-posts owl-carousel" data-dots="false" data-loop="true" data-nav="true" data-margin="30" data-autoplaytimeout="1000" data-autoplayhoverpause="true" data-responsive='{"0":{"items":2},"600":{"items":2},"1000":{"items":4}}'>
                    @if (Model.tinkhacs.Any())
                    {
                        foreach (var detailMenu in Model.tinkhacs)
                        {
                            <li class="post-item">
                                <article class="entry">
                                    <div class="entry-thumb image-hover2" style="width: 195px;height: 125px;">
                                        <a href="@Url.RouteUrl("ChiTietTinTuc", new { seolink=detailMenu.Link })" title="@detailMenu.Name ">
                                            <img data-src="@string.Format("/Upload/files/{0}",detailMenu.Img)" alt="@detailMenu.Name" style="margin-left: auto;margin-right: auto;display: block; width: 195px; height: 125px;">
                                        </a>
                                    </div>
                                    <div class="entry-ci">
                                        <h3 class="entry-title"><a href="@Url.RouteUrl("ChiTietTinTuc", new { seolink=detailMenu.Link })" title="@detailMenu.Name">@detailMenu.Name</a></h3>
                                    </div>
                                </article>
                            </li>
                        }
                    }
                </ul>
            </div>
          
            <div class="single-box">
                <div class="fb-comments" data-href="" data-colorscheme="light" data-numposts="5" data-width="870"></div>
            </div>
        </div>
        <div class="col-md-3 col-sidebar">
            @Html.Action("TinHot", "TinTuc")
            @Html.Action("DanhMucInDanhSachSp", "Menu")
            @Html.Action("SanPhamMoiVeInChiTiet", "TinTuc")
        </div>
    </div>
</div>
<style>
    iframe {
        width: 100%;
    }
</style>