@{
    ViewBag.Title = "Danh sách tag tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model Shop.Web.Areas.Admin.Models.TagTinTucModelTimKiem
@using PagedList.Mvc;
<div id="page-wrapper" style="min-height: 407px;">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tìm kiếm tag tin tức</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="color:  #337ab7;">
                    <p>có ' <span style="color: red;">@Model.soluongtimduoc</span> ' tag tin tức phù hợp với từ khóa '<span style="color: red;font-weight: bold;">@ViewData["key"]</span>'</p>
                    <div class="col-sm-5" style="float: right;">
                        <form action="/admin/TagTinTuc/TimKiem" method="get" style="margin-top: -31px;">
                            <div class="input-group custom-search-form">
                                <input type="text" name="keyword" class="form-control" placeholder="Tìm kiếm tag...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit" style="height: 34px;">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
                                    <thead>
                                    <tr role="row">
                                        <th>Tên tag</th>
                                        <th>Ngày tạo</th>
                                        <th>Chức năng</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @if (Model.DanhSachTags.Any())
                                    {
                                        foreach (var tag in Model.DanhSachTags)
                                        {
                                            <tr class="gradeU odd" role="row">
                                                <td><a href="@Url.RouteUrl("Tag", new { tentag = tag.TenTag.ToString().Replace(" ", "-") })" target="_blank">@tag.TenTag</a></td>
                                                <td>@tag.NgayTao.ToShortDateString()</td>
                                                <td class="actions">
                                                    <a title="Sửa" href="/admin/TagTinTuc/edit/@tag.Id" class="btn">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    <a title="Xóa" onclick="return xoa(@tag.Id)" href="#" class="btn">
                                                        <i class="fa fa-trash-o"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite">
                                    Page @(Model.DanhSachTags.PageCount < Model.DanhSachTags.PageNumber ? 0 : Model.DanhSachTags.PageNumber) of @Model.DanhSachTags.PageCount
                                </div>
                            </div>
                            <div class="col-sm-6">
                                @Html.PagedListPager(Model.DanhSachTags, page => Url.Action("TimKiem", new { page, keyword = ViewData["key"] }))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function xoa(f) {
        var r = confirm("Bạn có muốn xóa không?");
        if (r) {
            location.href = "/admin/TagTinTuc/Delete/" + f;
        }
    }
</script>

