@{
    ViewBag.Title = "Sửa banner mới";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@model Shop.Model.BannerDanhSach

@using (Html.BeginForm("SaveEdit", "BannerTrangDanhSach", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(o=>o.id_)
    <div id="page-wrapper" style="min-height: 407px;">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header" style="margin: 20px 0 5px;">Banner trang danh sách</h3>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading" style="color: red;">
                        Sửa Banner
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-9">
                                <form role="form">

                                    <div class="form-group">
                                        <label class="col-sm-2 ">Tên banner</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(o => o.TenBanner, new { @class = "form-control" })
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 ">Hình ảnh</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(o => o.HinhAnh, new { @class = "form-control" })

                                        </div>
                                        <div class="col-sm-2">
                                            <button onclick="return BrowseImages('HinhAnh');" type="button" class="btn btn-primary">Upload ảnh</button>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 ">Link</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(o => o.LinkHttp1, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 ">Vị trí</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(o => o.ViTri, new { @class = "form-control" })
                                        </div>

                                    </div>
                                <div class="form-group">
                                    <label class="col-sm-2 ">Chọn danh mục <span style="color: red;">(*)</span></label>
                                    <div class="col-sm-6">
                                        @Html.DropDownListFor(o => o.IdDanhMuc, ViewData["danhmuccap1"] as List<SelectListItem>, new { @class = "form-control" })

                                    </div>
                                </div>
                                    <button type="submit" class="btn btn-success" style="margin-left: 151px;">Lưu</button>
                                </form>
                            </div>

                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
   
}


