@{
    ViewBag.Title = "Danh mục con";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using PagedList.Mvc
@model PagedList.IPagedList<Shop.Model.Menu>
<div id="page-wrapper" style="min-height: 407px;">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Danh mục con</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="color: red;">
                       <ol class="breadcrumb">
                       <li><a href="/admin/danhmucsanpham/ViewDanhMuc/"> Danh mục</a></li> 
                           <li><a href="/admin/submenu1/index/@ViewData["LayIdDMcha"]"> @ViewData["DuongDanCha"] </a></li>
                           <li><a href="/admin/submenu1/index/@ViewData["LayIdDMcha"]"> @ViewData["DuongDanDanhMuc"] </a></li>
                    </ol>
                   <a href="/admin/SubMenu2/add/@ViewData["id"]">
                        <button type="button" class="btn btn-success">Thêm mới</button></a>

                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">


                        <div class="row">
                            <div class="col-sm-12">
                                <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
                                    <thead>
                                        <tr role="row">
                                          
                                           
                                            <th>Tên danh mục</th>
                                            @*<th style="width: 100px;">Menu sub top 
                                                <br/>
                                                (hiển thị/ẩn?)
                                            </th>
                                            <th style="width: 150px;">Menu sub Home 
                                                <br/>
                                                 (hiển thị/ẩn?)
                                            </th>*@
                                                 <th style="width: 50px;">Ẩn/hiện?</th>
                                            <th style="width: 50px;">Vị trí</th>
                                            <th>Chức năng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            foreach (var tag in Model)
                                            {
                                            <tr class="gradeU odd" role="row">
                                               

                                               
                                                <td><a href="@Url.RouteUrl("DanhSachSanPham", new { splink = tag.Link })" target="_blank">@tag.NameProduct</a>
                                                </td>
                                                @* <td>
                                                    @if(tag.ShowMenuTop==true)
                                                    {
                                                        <span style="color: green;font-weight: bold;">hiển thị</span>
                                                    }
                                                    else
                                                    {
                                                        <span style="color: red;">ẩn</span>
                                                    }
                                                </td>
                                                <td >
                                                    @if(tag.ShowMenuHome==true)
                                                    {
                                                        <span style="color: green;font-weight: bold;">hiển thị</span>
                                                    }
                                                    else
                                                    {
                                                        <span style="color: red;">ẩn</span>
                                                    }
                                                </td>*@
                                                  @if (tag.ok)
                                                {
                                                    <td class="center" style="text-align: center;">
                                                        <input type="checkbox" checked="checked" value="@tag.id_"/></td>
                                                }
                                                else
                                                {
                                                    <td class="center" style="text-align: center;">
                                                        <input type="checkbox" value="@tag.id_"/>
                                                        <span style="color: red; font-weight: normal; float: right; margin-top: 90px;">ẩn</span>
                                                    </td>
                                                    
                                                }
                                                <td>@tag.SapxepDanhMuc</td>
                                                <td class="actions">
                                                    <a title="Sửa" href="/admin/SubMenu2/edit/@tag.id_" class="btn"><i class="fa fa-edit"></i>
                                                    </a>
                                                    <a title="Xóa"  onclick="return xoa(@tag.id_)" href="#" class="btn"><i class="fa fa-trash-o"></i>
                                                    </a>

                                                </td>
                                            </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-6">

                                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

                            </div>
                        </div>

                        <!-- /.table-responsive -->

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
<script>
    function xoa(f) {
        var r = confirm("Bạn có muốn xóa không?");
        var pathArray = window.location.pathname.split('/admin/SubMenu2/index/');
        var newPathname = "";
        for (i = 0; i < pathArray.length; i++) {
            newPathname += "";
            newPathname += pathArray[i];//idmenu
        }
        if (r) {
            //location.href = "/admin/SubMenu1/Delete/" + f;
            $.post("/admin/SubMenu2/Delete", {
                    id: f
                }, function (data) {
                    // alert(data.message);
                    location.href = "/admin/SubMenu2/index/" + newPathname;
                });
        }
    }
</script>


<script>
    //update an hien cho danh muc (catagories)
    $("#dataTables-example tr td input").click(function (e) {
        var that = $(this);
        var vlCheck = that.val();
        // alert(vlCheck);
        var url = '/admin/SubMenu2/UpdateOk';
        $.post(url, {
            idsanpham: vlCheck,
            checked: that.is(':checked')

        }, function (data) {
            alert("Cập nhật trạng thái thành công!");
        });
    });
</script>
