@{
    ViewBag.Title = "Review sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.content404 = "index, follow, noodp, noydir";
    ViewBag.canonical = "https://beautygarden.vn/review-san-pham";
}
@model Shop.Web.Model.ReviewModel
@using PagedList.Mvc;
@using Shop.Web.Core.Helper
<div class="columns container">
    <!-- Block  Breadcrumb-->

    <ol class="breadcrumb no-hide">
        <li><a href="https://beautygarden.vn/" title="Beautygarden">Trang chủ</a></li>
        <li class="active"><a href="">Review sản phẩm</a></li>
    </ol>
    <!-- Block  Breadcrumb-->

    <div class="row">
        <!-- Main Content -->
        <div class="col-md-9 col-md-push-3  col-main ">
            <h2 class="page-heading">
                <span class="page-heading-title2">Review sản phẩm</span>
            </h2>
            <div class="sortPagiBar clearfix">
             
                <div class="bottom-pagination">
                    <nav>
                        <ul class="pagination">
                             @Html.PagedListPager(Model.Reviews, page => Url.Action("Review", new { page }))
                        </ul>
                    </nav>
                </div>
            </div>
            <ul class="blog-posts">
                   @if (Model.Reviews.Any())
                   {
                       foreach (var tinTuc in Model.Reviews)
                       {
                           <li class="post-item">
                               <article class="entry">
                                   <div class="row">
                                       <div class="col-sm-5">
                                           <div class="entry-thumb image-hover2 box_tintuc">
                                               <a href="@Url.RouteUrl("ChiTietReview", new { seolink=tinTuc.Link })" title="@tinTuc.TieuDe">
                                                   <img data-src="@string.Format("/Upload/Files/{0}",tinTuc.HinhAnh)" alt="@tinTuc.TieuDe" style="max-width: 345px;max-height: 222px;">
                                               </a>
                                           </div>
                                       </div>
                                       <div class="col-sm-7">
                                           <div class="entry-ci">
                                               <h1 class="entry-title"><a href="@Url.RouteUrl("ChiTietReview", new { seolink=tinTuc.Link })" title="@tinTuc.TieuDe">@tinTuc.TieuDe</a></h1>
                                               <div class="entry-meta-data">
                                                  
                                                 
                                                   <span class="date"> @tinTuc.Sdate.ToShortDateString()</span>
                                               </div>
                                             
                                               <div class="entry-excerpt">
                                                  @Html.Raw(tinTuc.Mota)
                                               </div>
                                               <div class="entry-more">
                                                   <a href="@Url.RouteUrl("ChiTietReview", new { seolink=tinTuc.Link })" title="xem tiếp">Xem tiếp</a>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </article>
                           </li>
                       }
                   }
                            </ul>
            <div class="sortPagiBar clearfix">
                <div class="bottom-pagination">
                    <nav>
                        <ul class="pagination">
                             @Html.PagedListPager(Model.Reviews, page => Url.Action("Index", new { page }))
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Main Content -->
        <!-- Sidebar -->
        <div class=" col-md-3 col-md-pull-9   col-sidebar">
            <!-- Block  categorie-->
             @Html.Action("DanhMucInDanhSachSp","Menu")
            <!-- Block  categorie-->
            <!-- Block  Popular Posts-->
            @Html.Action("TinHot","TinTuc")
            <!-- Block  Popular Posts-->
        @Html.Action("SanPhamMoiVeInChiTiet","TinTuc")
        </div>
        <!-- Sidebar -->
    </div>
</div>


