@model IList<Shop.Model.HeThongCuaHang>
<div class="block-the-blog-opt7">
    <div class="container">
        <div class="block-title block-title_hethongch">
            <h2 class="title title_hethongch">Hệ thống cửa hàng</h2>
        </div>
        <div class="block-content">
            <div class="owl-carousel"
                 data-nav="true"
                 data-dots="false"
                 data-margin="30"
                 data-slide-by="4"
                 data-responsive='{
                            "0":{"items":2},
                            "480":{"items":2},
                            "768":{"items":2},
                            "992":{"items":3},
                            "1200":{"items":4}
                        }'>
                @if (Model.Any())
                {
                    int i = 0;
                    foreach (var heThongCuaHang in Model)
                    {
                        i++;
                        string popup = "popup"+i;
                        string showroompopup = "showroompopup" + i;
                            <div class="box_show">
                            <div class="blog-item item_showroom">
                                <img data-src="@string.Format("/Upload/Files/{0}?width=268&height=178",heThongCuaHang.HinhAnh)" alt="@heThongCuaHang.TenShop">
                                <div class="textbox" style="width: 100%;">
                                    <a href="#@popup" class="@showroompopup" title="@heThongCuaHang.DiaChi">
                                        <i class="fa fa-map-marker maps hidden-xs"></i>
                                        <i class="fa fa-map-marker mapsmobile hidden-desktop hidden-lg hidden-md hidden-sm"></i>
                                        <br/>
                                        <h3 class="textmaps">@heThongCuaHang.DiaChi</h3>
                                    </a>
                                </div>
                            </div>
                            <div class="tieude_showroom">@heThongCuaHang.TenShop</div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<style>
    .textmaps {
        font-size: 14px;
    }
</style>
<!-- Block Blog -->
<script>
    $(document).ready(function () {
        $(".showroompopup1").on("click", function () {
            $('#cs1').prepend('<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2253.335725656593!2d106.68077643448072!3d10.772180539588494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f2160908359%3A0xc42bde7b8e982ba4!2zU2hvcCBt4bu5IHBo4bqpbSBCZWF1dHkgR2FyZGVu!5e0!3m2!1svi!2s!4v1486091630292" width="640" height="450" frameborder="0" style="border: 0" allowfullscreen></iframe>');
        });
        $(".showroompopup2").on("click", function () {
            $('#cs2').prepend('<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1042503124586!2d106.68210431480107!3d10.803326992303285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc42bde7b8e982ba4!2zTeG7uSBQaOG6qW0gQ2jDrW5oIEjDo25nIEJlYXV0eSBHYXJkZW4!5e0!3m2!1svi!2s!4v1501579356484" width="640" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>');
        });
        $(".showroompopup3").on("click", function () {
            $('#cs3').prepend('<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.5831342324113!2d105.82246431493229!3d21.00934098600893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7d168e4eae4098e5!2zTeG7uSBQaOG6qW0gQ2jDrW5oIEjDo25nIEJlYXV0eSBHYXJkZW4!5e0!3m2!1svi!2s!4v1501579590682" width="640" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>');
        });
        $(".showroompopup4").on("click", function () {
            $('#cs4').prepend('<iframe defer src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.221362742578!2d108.21718911467893!3d16.05399874411063!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219c8ca730c71%3A0x644326f9158a8723!2zMjY4IFRyxrBuZyBO4buvIFbGsMahbmcsIELDrG5oIFRodeG6rW4sIEjhuqNpIENow6J1LCDEkMOgIE7hurVuZywgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1486369456336" width="640" height="450" frameborder="0" style="border: 0" allowfullscreen></iframe>');
        });
    });
</script>