<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Đăng Nhập Admin</title>
    <link rel="stylesheet" href="/Content/css/style.css">
</head>
@model Shop.Web.Areas.Admin.Models.DangNhapModel
<body>

    @using (Html.BeginForm("Login", "DangNhap", FormMethod.Post, new { @class = "login", }))
    {
        <p>
            <label for="login">Tên Đăng Nhập:</label>
            @Html.TextBoxFor(o => o.Username)<br />
        </p>
        <p>
            <label for="password">Mật Khẩu:</label>
            @Html.PasswordFor(o => o.Password)<br />
            @Html.ValidationMessageFor(o => o.Password)
             @Html.ValidationMessageFor(o => o.Username)
            <p style="color:#00a2d3 ">@ViewData["Message"] </p>
        </p>

        <p class="login-submit">
            <button type="submit" class="login-button">Đăng Nhập</button>
        </p>
    }
</body>
</html>
