@model Shop.Web.ViewModels.CartViewModel.CartModel
<div id="cart_sidebar_html">
    <div class="cart-sidebar">
        <div id="cart-loading" class="hide"></div>
        <div class="widget-wrapper">
            <div id="cart-info" class="cart-info">
                <span class="title">Giỏ Hàng</span>
                <ul class="list-unstyled">
                    @if (Model.CartItems.Any())
                    {
                        foreach (var item in Model.CartItems)
                        {
                            <li>
                                <figure>
                                    <a class="cart_list_product_img" href="@Url.RouteUrl("ChiTietSanPham", new { splink = item.Link })" title="show giỏ hàng">
                                        <img src="@string.Format("/Upload/Files/{0}?width=350&height=391", item.Image.Replace("/Upload/files/", ""))" alt="@item.Name">
                                    </a>
                                     <p class="action remove_item">
                                            <a href="/cart/DeleteCart?barcode=@item.Barcode" class="btn-link btn-item-delete" style="margin-left: 17px;font-size: 15px;" title="xóa"> <i class="fa fa-trash-o"></i> </a>
                                           
                                        </p>
                                </figure>
                                <div class="list_content">
                                    <h5>
                                        <a href="@Url.RouteUrl("ChiTietSanPham", new { splink = item.Link })" style="font-size: 14px!important;" title="@item.Name">
                                            <span>@item.Name</span>
                                            @if (item.AttributeFlag != 0)
                                            {
                                                <span class="variant_title"> - @item.AttributeName</span>
                                            }

                                        </a>
                                    </h5>
                                </div>
                                <div class="list_content" style="padding-left: 0px!important;">
                                    <div class="quantity">
                                       
                                        <input type="number" min="1" max="999" value="@item.Quantity" required="" onchange="onChangeCartPopup(@item.ProductId,'@item.Barcode',this)" style="width: 35px!important;height: 26px;border: 1px solid #ececec !important;"/>
                                        x
                                        <span class="amount">
                                            <span class="money">
                                                @item.PricePromotion.ToString("#,###,###,###") = &nbsp;
                                            </span>
                                      
                                        </span>
                                       <span class="thanhtien">
                                            @{
                                                int giagoc = 0,soluong=0,tongtien=0,giaKm=0,tongKM=0;
                                                giagoc = item.Price;
                                                soluong = item.Quantity;
                                                tongtien = giagoc*soluong;
                                                tongKM = item.PricePromotion*soluong;
                                            }
                                            <span class="money" style="color: #199427;">
                                                <br/>  @tongKM.ToString("#,###,###,###") ₫
                                            </span>
                                            @if (item.HasPromotion)
                                            {
                                                <span style="text-decoration: line-through; font-size: 12px;color: #199427;">
                                                    <br/> @tongtien.ToString("#,###,###,###") ₫
                                                </span>
                                            }
                                        </span>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                    else
                    {
                        <li style="text-align: center;line-height: 30px">
                            <span>Giỏ hàng trống</span>
                        </li>
                    }
                </ul>
                @if (Model.CartItems.Any())
                {
                     <!--Tổng số tiền-->
                    <div class="subtotal">
                        Tổng Cộng:
                        <span>
                            <span class="amount">
                                <strong class="money" style="color: #199427;"> @Model.Total.ToString("#,###,###,###") ₫</strong>
                            </span>
                        </span>
                    </div>
                }
                <div class="buttons">
                    @if (Model.CartItems.Any())
                    {
                        <a href="@Url.RouteUrl("Cart")" class="btn-viewcart" title="xem giỏ hàng">XEM GIỎ HÀNG</a>
                        <a href="@Url.RouteUrl("Order")" class="btn-pay" title="thanh toán">THANH TOÁN</a>
                    }
                    <a href="#" onclick="return hideCart()" class="btn-viewcart hidden-lg hidden-md hidden-desktop" title="đóng giỏ hàng">ĐÓNG GIỎ HÀNG</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function onChangeCartPopup(productId, code, obj) {
        updateCartPopup(productId, code, $(obj).val());
    }
    
    function updateCartPopup(productId, code, quantity) {
        $.post("/Cart/UpdateCart", {
            Barcode: code,
            ProductId: productId,
            Quantity: quantity
        }, function (data) {
            $.post("/Cart/UpdateCartPopup", function (data) {
                $("#cart_sidebar_html").html(data.html).promise().done(function () {
                    showCart();
                });
                $(".counter-number-custom").text(data.countCart);
            });
        });
    }
    var openCart = false;
    $(function() {
        $(document).mouseup(function (e) {
            var container = $(".cart-sidebar");

            if (!container.is(e.target) // if the target of the click isn't the container...
                && container.has(e.target).length === 0) // ... nor a descendant of the container
            {
                $('body').removeClass('cart-opened');
                $('.cart-sidebar').removeClass('opened');
            }

            //Menu trên smartphone
            var menu_smartphone = $('.menu-mobile');
            if (!menu_smartphone.is(e.target) // if the target of the click isn't the container...
                && menu_smartphone.has(e.target).length === 0) // ... nor a descendant of the container
            {
                $('html,body').removeClass('menu-opened');
                $('.menu-mobile').removeClass('opened');
            }
        });
    });

    function addProductToCart(productId, barcode, quantity,redirect) {
        $.post("/Cart/AddToCart", {
                Barcode: barcode,
                ProductId: productId,
                Quantity: quantity
            }, function (data) {
                if (redirect == "Cart") {
                    // Đưa sản phẩm vào giỏ hàng
                    $("#cart_sidebar_html").html(data.html).promise().done(function () {
                        showCart();
                    });
                } else if (redirect == "Fast") {
                    // Mua nhanh
                    window.location.href = "/thanh-toan-don-hang.html";
                }

                $(".counter-number-custom").text(data.countCart);
            });
    }
    
    function showCart() {
        openCart = true;
        $(".cart-sidebar").addClass("opened");
        $("body").addClass("cart-opened");
    }
    function hideCart() {
        openCart = false;
        $(".cart-sidebar").removeClass("opened");
        $("body").removeClass("cart-opened");
    }
</script>
