@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.content404 = "index, follow, noodp, noydir";
}
@model Shop.Web.Model.DanhSach
@using System.Text.RegularExpressions
@using PagedList.Mvc
@{
    ViewBag.Title = string.IsNullOrEmpty(Model.DanhMuc.SEOtitle) ? Model.DanhMuc.NameProduct : Model.DanhMuc.SEOtitle;
    ViewBag.Keyword = @Model.DanhMuc.MoTaDanhMuc == null ? "✅ Mỹ phẩm chính hãng - ✅ Hotline 0911 384 114," + @Model.DanhMuc.NameProduct : Regex.Replace("✅ Mỹ phẩm chính hãng - ✅ Hotline 0911 384 114," + @Model.DanhMuc.MoTaDanhMuc, @"<[^>]*>", String.Empty);
    ViewBag.Description = string.IsNullOrEmpty(Model.DanhMuc.SEODescription) ? Regex.Replace("✅" + Model.DanhMuc.MoTaDanhMuc, @"<[^>]*>", string.Empty) : Model.DanhMuc.SEODescription;
    ViewBag.canonical = "https://beautygarden.vn/danh-muc/" + @Model.DanhMuc.Link + ".html";
}
<div class="columns container">
    <ol class="breadcrumb no-hide">
        <li><a href="https://beautygarden.vn/" title="Beautygarden">Trang chủ</a></li>
        @{
            string link = @ViewData["linkdanhmuccha"] + ".html";
        }
        @if (Model.DanhMuc.id_ == 2 || Model.DanhMuc.id_ == 3 || Model.DanhMuc.id_ == 1240 || Model.DanhMuc.id_ == 5 || Model.DanhMuc.id_ == 1238 || Model.DanhMuc.id_ == 8 || Model.DanhMuc.id_ == 7)
        {
        }
        else
        {
            <li><a href="@link" title="@link">@ViewData["duongdancha"] </a></li>
        }
        <li class="active"><a href="">@Model.DanhMuc.NameProduct</a></li>
    </ol>
    <div class="row">
        <div class="col-md-9 col-md-push-3  col-main">
            @if (@Shop.Web.Model.DanhSach.GetslHientai(Model.DanhMuc.id_) != 0)
            {
                @Html.Action("Index", "BannerTrangDanhSach", new { iddanhmuc = Model.DanhMuc.id_ })
            }
            <div class="toolbar-products toolbar-top">
                <h1 class="cate-title">@Model.DanhMuc.NameProduct</h1>
                <div class="btn-group btn_group_custom hidden-xs">
                    @Html.ActionLink(" Mới về", "DanhSach", new { sortOrder = ViewBag.MoiSortParm }, new { @class = "btn btn-default btn_new fa fa-sort moivedesc" })
                    @Html.ActionLink(" Giá", "DanhSach", new { sortOrder = ViewBag.GiaSortParm }, new { @class = "btn btn-default btn_new fa fa-sort giadesc" })
                    @Html.ActionLink(" Đánh giá", "DanhSach", new { sortOrder = ViewBag.DanhGiaSortParm }, new { @class = "btn btn-default btn_new fa fa-sort danhgiadesc" })
                    @Html.ActionLink(" Mua nhiều", "DanhSach", new { sortOrder = ViewBag.MuaNhieuParm }, new { @class = "btn btn-default border_last btn_new fa fa-sort muanhieudesc" })
                </div>
            </div>
            <div class="motadanhmuc">
                <p>@Html.Raw(Model.DanhMuc.MoTaDanhMuc)</p>
            </div>
            <div class="btn-group btn_group_custom hidden-desktop hidden-sm hidden-md hidden-lg btn_mobile_sort">
                @Html.ActionLink(" Mới về", "DanhSach", new { sortOrder = ViewBag.MoiSortParm }, new { @class = "btn btn-default btn_new fa fa-sort" })
                @Html.ActionLink(" Giá", "DanhSach", new { sortOrder = ViewBag.GiaSortParm }, new { @class = "btn btn-default btn_new fa fa-sort" })
                @Html.ActionLink(" Đánh giá", "DanhSach", new { sortOrder = ViewBag.DanhGiaSortParm }, new { @class = "btn btn-default btn_new fa fa-sort" })
                @Html.ActionLink(" Mua nhiều", "DanhSach", new { sortOrder = ViewBag.MuaNhieuParm }, new { @class = "btn btn-default border_last btn_new fa fa-sort" })
            </div>
            <div class="products  products-grid">
                <ol class="product-items row">
                    @if (Model.SanPhamTheoDanhMucs.Any())
                    {
                        foreach (var menu in Model.SanPhamTheoDanhMucs)
                        {
                            DateTime date = DateTime.Now;
                            DateTime startdate = date;
                            DateTime enddate = menu.NgayHetHang;
                            var subenddate = startdate.Subtract(enddate).Days;
                            if (subenddate <= 30)
                            {
                                <li class="col-sm-3 col-xs-6 box_sanpham_ds">
                                    <div class="product-item-opt-2 box_sanpham_product">
                                        <div class="product-item-info">
                                            <div class="product-item-photo">
                                                <a href="@Url.RouteUrl("ChiTietSanPham", new { splink=menu.Link })" class="product-item-img" title="@menu.NameProduct">
                                                    <img data-src="@string.Format("/Upload/Files/{0}?width=350&height=391",menu.Img)" alt="@menu.NameProduct" style="max-width: 173px;max-height: 193px;">
                                                </a>
                                                <div class="product-item-actions">
                                                    <a class="btn btn-wishlist" href="javascript:addtofavorites(@menu.id_);" id="@menu.id_" title="sản phẩm yêu thích "><span>wishlist</span></a>
                                                </div>
                                                @if (menu.HasPromotion)
                                                {
                                                    <span class="product-item-label label-price">@menu.Discount% <span>off</span></span>
                                                }
                                                @if (enddate < startdate && menu.HasOnHand == false)
                                                {
                                                    <span class="label-price-combo"><img src="/images/hethang.png" style="width: 45px; height: 45px;"/></span>
                                                    <button type="submit" onclick="return popupthongbaohethangDanhSach(@menu.id_)" class="btn btn-info btn-thong-bao" style="text-transform: none;"><span>Thông báo khi có hàng</span></button>
                                                    <input type="hidden" id="idsp_thongbao"/>
                                                }
                                                else
                                                {
                                                    <button type="button" class="btn btn-cart" onMouseOver="show_sidebar()" onMouseOut="hide_sidebar()" onclick="location.href = '/cart/QuickAdd?productId=@menu.id_';return false;"><span>Thêm giỏ hàng</span></button>
                                                }
                                                @{
                                                    int giatru = ((menu.Price * 2) * 10) / 100;
                                                    int gia = (menu.Price * 2) - giatru;
                                                }
                                                @if (menu.Price < 80000 && !menu.HasPromotion)
                                                {
                                                    if (gia > 100000)
                                                    {
                                                        <span class="label-price-combo2">@gia.ToString().Substring(0, 3)K/2</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="label-price-combo2">@gia.ToString().Substring(0, 2)K/2</span>
                                                    }
                                                }
                                            </div>
                                            <div class="product-item-detail">
                                                @if (menu.Price < 80000 && !menu.HasPromotion)
                                                {
                                                    if (gia > 100000)
                                                    {
                                                        <div class="txt_combo" title="Chỉ @gia.ToString().Substring(0,3)K khi mua online 2 SP">Chỉ @gia.ToString().Substring(0, 3)K khi mua online 2 SP</div>
                                                    }
                                                    else
                                                    {
                                                        <div class="txt_combo" title="Chỉ @gia.ToString().Substring(0, 2)K khi mua online 2 SP">Chỉ @gia.ToString().Substring(0, 2)K khi mua online 2 SP</div>
                                                    }
                                                }
                                                <h3 class="product-item-name">
                                                    <a href="@Url.RouteUrl("ChiTietSanPham", new {splink = menu.Link})" title="@menu.NameProduct">@menu.NameProduct</a>
                                                </h3>
                                                <div class="clearfix">
                                                    <div class="product-item-price">
                                                        @if (menu.HasPromotion)
                                                        {
                                                            <span class="price">@string.Format("{0:#,#.##}", menu.PricePromotion)₫</span>
                                                            <span class="old-price">@string.Format("{0:#,#.##}", menu.Price)₫</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="price">@string.Format("{0:#,#.##}", menu.Price)₫</span>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                            
                        }
                    }
                </ol>
                <style>
                    .txt_combo {
                        font-size: 11px !important;
                    }
                </style>
            </div>
            <div class="toolbar-products toolbar-bottom">
                <ul class="pagination">
                    @Html.PagedListPager(Model.SanPhamTheoDanhMucs, page => Url.Action("DanhSach", new { page, id = Model.DanhMuc.id_, sortOrder = ViewBag.CurrentSort }))
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-md-pull-9  col-sidebar">
            @Html.Action("DanhMucInDanhSachSp", "Menu", new { id = Model.DanhMuc.id_ })
            @Html.Action("Thuonghieunoibat", "ThuongHieu")
            @Html.Action("BannerQCDanhSach", "Banner")
            @Html.Action("SanPhamMoiVe", "SanPham", new { danhmucid = Model.DanhMuc.id_ })
        </div>
    </div>
</div>
<div id="popupthongbaohethangDanhSach" class="popupthongbaohethang">
    <!-- Popup Div Starts Here -->
    <div id="popupContact">
        <!-- Contact Us Form -->
        <form action="#" id="form" method="post" name="form">
            <img id="close" src="/images/close.png" onclick="div_hide2()">
            <h4>Thông báo khi có hàng</h4>
            <hr>
            <input id="name" name="name" placeholder="Tên của bạn (*)" type="text" class="form-control">
            <input id="phone" name="email" placeholder="Số điện thoại (*)" type="text" class="form-control">
            <input id="email" name="email" placeholder="Email" type="text" class="form-control">
            <a href="javascript:check_empty2()" id="submit">Gửi</a>
        </form>
    </div>
    <!-- Popup Div Ends Here -->
</div>
<h2 style="display: none;">Danh sách các sản phẩm thuộc danh mục</h2>
<h3 style="display: none;">Trang điểm</h3>
<h3 style="display: none;">Chăm sóc da</h3>
<h3 style="display: none;">Chăm sóc tóc</h3>
<h3 style="display: none;">Nước hoa</h3>
<h3 style="display: none;">Phụ kiện</h3>
<h3 style="display: none;">Thực phẩm chức năng</h3>
<script>
    $(document).ready(function () {

        var sortOrder = '@HttpContext.Current.Request.QueryString["sortOrder"]';
        if (sortOrder == "giadesc" || sortOrder == "giaasc") {
            $(".giadesc").addClass("activeSort");
        } else if (sortOrder == "muanhieudesc" || sortOrder == "muanhieuasc") {
            $(".muanhieudesc").addClass("activeSort");
        } else if (sortOrder == "moivedesc" || sortOrder == "moiveasc") {
            $(".moivedesc").addClass("activeSort");
        } else if (sortOrder == "danhgiadesc" || sortOrder == "danhgiaasc") {
            $(".danhgiadesc").addClass("activeSort");
        }
    });
</script>
<script>
    function show_sidebar() {
        $(".txt_combo").css("display", "none");
    }
    function hide_sidebar() {
        $(".txt_combo").css("display", "block");
    }
</script>
<script>
    //Function To Display Popup
    function popupthongbaohethangDanhSach(ProductId) {
        document.getElementById('popupthongbaohethangDanhSach').style.display = "block";
        $("#idsp_thongbao").val(ProductId);
    }
    //Function to Hide Popup
    function div_hide2() {
        document.getElementById('popupthongbaohethangDanhSach').style.display = "none";
    }

    function check_empty2() {
        var ProductId = $("#idsp_thongbao").val();
        var name = $("#name").val();
        var phone = $("#phone").val();
        var email = $("#email").val();
        if (name == '' || phone == '') {
            alert("Vui lòng nhập đầy đủ thông tin");
        } else {
            $.post("/SanPham/AddKhiCoHang", {
                ProductId:ProductId,
                name: name,
                phone: phone,
                email: email
            }, function (data) {
                swal("Thông báo", "Gửi yêu cầu thành công!", "success");
                document.getElementById('popupthongbaohethangDanhSach').style.display = "none";
            });
        }
    }
</script>   